.login-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background: linear-gradient(to bottom right, #4a90e2, #5b65b8 30%, #8e44ad);
  //   background-image: url('@assets/img/login-bg.jpg');
  position: relative;
  overflow: hidden;
  .box {
    position: absolute;
    top: 50%;
    right: 60%;
    width: 800px;
    height: 800px;
    border-radius: 50%;
    transform: rotate(-45deg);
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
    filter: blur(3px);
  }
}
.login-form {
  position: relative;
  z-index: 2;
  background-color: white;
  width: 100%;
  max-width: 500px;
  .logo {
    margin-bottom: 24px;
  }
}
