.login-page {
  display: flex;
  align-items: center;
  justify-content: end;
  height: 100vh;
  background-size: cover;
  // background-position: center;
  background-repeat: no-repeat;
  // background: linear-gradient(to bottom right, #4a90e2, #5b65b8 30%, #8e44ad);
  background-image: url('@assets/img/Login-photo.png');

  position: relative;
  overflow: hidden;
  .box {
    position: absolute;
    top: 50%;
    right: 60%;
    width: 800px;
    height: 800px;
    border-radius: 50%;
    transform: rotate(-45deg);
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
    filter: blur(3px);
  }
}
.login-form {
  position: relative;
  z-index: 2;
  background-color: white;
  width: 100%;
  max-width: 500px;
  margin-right: 5%;
  height: 95vh;
  border-radius: 10px;

  box-shadow: 2px 2px 10px 0px #78789d;
  .logo {
    margin: 82px 0px 62px 0px;
  }
  h2 {
    color: #222133;

    font-size: 32px;
    font-weight: 600;
    line-height: 40px; /* 125% */
    letter-spacing: 2.08px;
  }
  p {
    color: #666387;
    margin: 24px 0px 48px 0px;
    font-size: 24px;

    font-weight: 600;
    line-height: 40px; /* 166.667% */
    letter-spacing: 1.56px;
  }
  .login-btn {
    margin-top: 67px;
    border-radius: 5px;
    background: #6e62e5;
  }
}
