@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;600&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
}

ol,
ul {
  list-style: none;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

body {
  height: 3000vh;
}
