// primary color shades
$primary-color-25: #f4ebfc;
$primary-color-50: #e9d7f9;
$primary-color-100: #e0b6f5;
$primary-color-200: #c48ff2;
$primary-color-300: #a868ee;
$primary-color-400: #6e62e5;
$primary-color-500: #6e62e5; // Base primary
$primary-color-600: #4e02c9;
$primary-color-700: #3c01a5;
$primary-color-800: #2a0180;
$primary-color-900: #18015b;

// Neutral color shades
$neutral-color-25: #f7f7f7;
$neutral-color-50: #efefef;
$neutral-color-100: #d9d9d9;
$neutral-color-200: #bfbfbf;
$neutral-color-300: #a6a6a6;
$neutral-color-400: #8c8c8c;
$neutral-color-500: #737373; // Base neutral
$neutral-color-600: #595959;
$neutral-color-700: #404040;
$neutral-color-800: #262626;
$neutral-color-900: #0d0d0d;

// white & black
$white: #fff;
$black: #000;

// Font sizes
$font-size-base: 16px;
$font-size-lg: $font-size-base * 1.25;
$font-size-sm: $font-size-base * 0.875;
