// Override label direction in antd forms
.ant-form-item-label > label {
  direction: rtl;
  &::after {
    display: none;
  }
}

// override antd button
.ant-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}
